body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #111827, #1e293b);
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h2 {
    color: #fda4af;
    margin-bottom: 10px;
}

p {
    margin-bottom: 40px;
    color: #cbd5e1;
}

.button-area {
    position: relative;
    height: 100px;
}

button {
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#yesBtn {
    background-color: #e11d48;
    color: white;
    z-index: 2;
}

#noBtn {
    background-color: #334155;
    color: white;
    top: 50px;
}
